@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gray-900 {
    --tw-bg-opacity: 1;
    background-color: #54595f;
}

p {
    color: black;
}

.bg-gray-800 {
    --tw-bg-opacity: 1;
    background-color: #54595f;
}

/* Navbar*/

#navName {
    color: black;
    padding-left: 50px;
    font-size: 25px;
    font-weight: 600;
}

#nav {
    display: inline;
    padding: 50px;
    color: black;
}

#navList {
    float: inline-end;
    padding-right: 100px;
    background-color: transparent;

}

.text-white {
    --tw-text-opacity: 1;
    color: black
}

/* About */

#about {
    padding-left: 15px;
}

.aboutme {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;

}

#headshot {
    margin-right: 100px;
}

.par{
    padding-top: 10px;
    padding-right: 70px;
  }

  /* Projects*/

#codeIcon{
    color: black;
}

#gallery {
    padding-right: 160px;
    padding-left: 90px;
}

/* Resume */

#resume {
    padding-right: 160px;
    padding-left: 90px;
}

.resumeSkills {
    padding-left: 15px;
    display: flex;
    flex-direction: row
}


#skills {
    color: black;
    padding-right: 78px;
    text-align: justify;
}

#resumeCon {
    display: flex;
    align-items: center;
}

#resume h2 {
    display: flex;
    
}

.resume{
    width:fit-content;
    height: fit-content;
}

.download{
    color: antiquewhite;
}

/* Footer */

#footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-right: 200px;
    align-items: center;
    padding-bottom: 20px;
}

.form{
   width: 500px;
   padding-right: 50px;
   color: black;
   background-color: #54595f;
}

#btn{
    border-radius: 5px;
    color: black;
    width: 100px;
    height: 50px;
    background-color: #54595f; 
  color: black; 
  border: 2px solid #030303;
  transition-duration: 0.4s;
}

#btn:hover {
    background-color: black;
    color: #54595f;
}

/*Social Icons*/

.socials{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: black;
}

.socials a + a{
    padding-left: 3em;
}

.icons {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-left: 5px;
}  

  .hr {
    height: 3px;
    background-color: black;
    margin-bottom: 50px;
    border-top-width: 0px;
    margin-top: 100px;
   margin-left: 100px;
   margin-right: 150px;
  }
